{% extends 'main/Based.html' %}


{% block title %}
Техподдержка
{% endblock %}

{%block background%}
id="bg" style="background-color: powderblue"
{%endblock%}

{% block page %}
class="nav-link"
{% endblock %}

{% block page2 %}
class="nav-link"
{% endblock %}

{% block page3 %}
class="nav-link active" aria-current="page"
{% endblock %}

{%block page4%}
class="nav-link"
{%endblock%}


{% block content %}
  <div >
        <h1><br></h1>
    <h1> <big> <b> Поддержка </b> </big> </h1>
        <h1><br></h1>
    <h1>    Если у вас возникли технические проблемы на сайте, напишите на почту - Forhelpwithwebthis@gmail.com</h1>
        <h1><br></h1>
    <h1>    Если вы хотите предложить идею, которая улучшит данный сайт, напишите на почту - helptoimprovethisweb@gmail.com  </h1>
  </div>
{% endblock %}

