{% extends 'main/Based.html' %}

{% block title %}
Здоровье
{% endblock %}

{%block background%}
id="bg" style="background-color: powderblue"
{%endblock%}

{% block page %}
class="nav-link"
{% endblock %}

{% block page2 %}
class="nav-link active" aria-current="page"
{% endblock %}

{%block page4%}
class="nav-link"
{%endblock%}

{% block page3 %}
class="nav-link"
{% endblock %}

{% block content %}
<div formsappId="65c24153742179200f50c5e0"></div>
<script src="https://forms.app/static/embed.js" type="text/javascript" async defer onload="new formsapp('65c24153742179200f50c5e0', 'standard', {'width':'100vw','height':'93vh'});"></script>
{% endblock %}
